.profile-dropdown{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: .5%;
    top: 90%;
    cursor: pointer


}

.hidden {
    display: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
  }


